html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.textToTranslate {
    margin: 0 auto;
    display: block;
}
.textToTranslate .tttLabel{
    margin: 0 auto;
    display: block;
    font-size: 20px;
    font-weight: bold;
}
.textToTranslate .tttInput {
    margin: 0 auto;
    display: block;
}
.translated {
    margin: 0 auto;
    display: block;
}
textarea {
    resize: none;
    font-size: 20px;
}
.block {
    height: 5px;
    width: 5px;
    margin: 0 auto;
}